.course-admin-header{
    height: 90px;
    background: black;
    padding: 0;
    align-items: center;
    color: #17c5ef;
    justify-content: center;
}

.course-admin-section-search {
    height: 200px;
    justify-content: space-between;
    width: 90%;
    padding: 20px 10% 24px 5%;
    align-items: self-end;
    border-bottom: 1px solid #17c5ef;
    min-width: 600px;
}

.course-admin-section-search > div {
    display: flex;
    position: relative;
    gap: 24px;
}

.course-admin-section-search > div > button {
    text-wrap: nowrap;
}