.course-admin-header{
    height: 90px;
    background: black;
    padding: 0;
    align-items: center;
    color: #17c5ef;
    justify-content: center;
}

.course-admin-section-search {
    position: relative;
    display: flex;
    height: 200px;
    justify-content: space-between;
    width: 90%;
    padding: 20px 10% 24px 5%;
    align-items: self-end;
    border-bottom: 1px solid #17c5ef;
}

.course-admin-section-search > .column {
    flex-direction: column;
    align-items: baseline;
    width: 45%;
    min-width: 300px;
    justify-content: flex-start;
    height: 100%;
    font-size: 18px;
    color: rgb(22 22 22);
}

.course-admin-section-search >  .column > textarea {
    width: 90%;
    border: none;
    border-radius: 5px;
    resize: none;
    padding: 8px;
    font-family: sans-serif;
    outline: none;
}

.course-admin-section-search > .column > input{
    width: 90%;
    min-width: 230px;
    height: 30px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    outline: none;
}

.course-admin-section-search > .column > select {
    height: 30px;
    border: none;
    color: #74797a;
    font-size: 18px;
    width: 90%;
    min-width: 230px;
    padding: 4px 8px;
    border-radius: 5px;
}

.course-admin-section-search > .column > label {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.course-admin-section-search > .column > label > cw-switch {
    width: 50px;
}

.course-admin-section-search > .column > label > cw-switch > .selected {
    left: 28px;
}

.course-admin-section-search > .column > section {
    position: absolute;
    bottom: 12px;
    right: 14%;
}

.course-admin-section-search> .column > section > button[variant="default"]{
    background-color: black;
    color: #17c5ef;
}

.course-admin-section-search> .column > section > button[variant="outline"]{
    border-color: black;
    color: black;
}