.table.professors{
    width: 90%;
    min-width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.219);
    background: white;
    color: black;
    border-radius: 5px;
    padding: 12px 12px 0 12px;
    font-size: 18px;
}

.table.professors > tbody > tr {
    user-select: none;
    cursor: pointer;
}
.table.professors > tbody > :nth-child(odd):not(:first-child){
    background-color: aliceblue;
}

.table.professors > tbody > :nth-child(even) {
    background-color: #d1d1d187;
}

.table.professors > tbody > tr > th.tb-col {
    text-align: left;
    padding-bottom: 0;
}
.table.professors > tbody > tr > .tb-col {
    padding: 12px;
}
.table.professors > tbody >  tr > .tb-col.id {
    width: 25px;
}

.table.professors > tbody >  tr > .tb-col.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.tb-col.actions > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.tb-col.actions > a {
    color: rgb(15, 1, 51);
}
.tb-col.actions > .edit  {
    color: green;
}
.tb-col.actions > .clear {
    color: rgb(173, 5, 5);
}