.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.11);
    transition: all ease 0.5s;
    left: 0;
    top: 0;
}
.modal[show=false]{
    display: none;
}
.modal > section {
    width: fit-content;
    height: fit-content;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #b8d5f77a;
}