.table.courses{
    width: 90%;
    min-width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.219);
    background: white;
    color: black;
    border-radius: 5px;
    padding: 12px 12px 0 12px;
    font-size: 18px;
}

.table.courses > tr {
    user-select: none;
    cursor: pointer;
}
.table.courses > :nth-child(odd):not(:first-child){
    background-color: aliceblue;
}

.table.courses > :nth-child(even) {
    background-color: #d1d1d187;
}

.table.courses > tr > th.tb-col {
    text-align: left;
    padding-bottom: 0;
}
.table.courses > tr > .tb-col {
    padding: 12px;
}
.table.courses >  tr > .tb-col.id {
    width: 25px;
}

