@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.course-admin-form {
    font-family: 'Quicksand';
    position: relative;
    display: flex;
    height: 450px;
    justify-content: space-between;
    width: 90%;
    padding: 20px 10% 24px 5%;
    align-items: self-end;
}

.course-admin-form > .column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 45%;
    min-width: 300px;
    justify-content: flex-start;
    height: 100%;
    font-size: 16px;
    color: rgb(22 22 22);
}

.course-admin-form > .column > label {
    position: relative;
    margin-top: 20px;
}

.course-admin-form > .column > label > span {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 12px;
    font-weight: bolder;   
}
.course-admin-form > .column > label > input,
.course-admin-form > .column > label > textarea {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(159, 166, 255, 0.329);
    outline: none;
    padding: 8px;
    font-size: 16px;
    font-family: "Quicksand";
}
.course-admin-form > .column > label > textarea {
    height: 250px;
    resize: none;
}


.course-admin-form > .column > select {
    height: 30px;
    border: none;
    color: #74797a;
    font-size: 18px;
    width: 90%;
    min-width: 230px;
    padding: 4px 8px;
    border-radius: 5px;
}

.course-admin-form > .column > label {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.course-admin-form > .column > section {
    position: absolute;
    bottom: 12px;
    right: -12%;
}

.switch {
    width: 44px;
    height: 24px;
    background-color: #fbfbfbde;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 1px #0563ef6e;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
}

.switch .ball{
    position: absolute;
    top: 2px;
    left: 4px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b8d5f7 ;
    transition: all 0.5s ease;
}

.switch > input {
    visibility: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}
.switch > input:checked ~ .ball {
    left: 20px;
    background-color: #156fbc ;
}