.professor-admin-form {
    font-family: 'Quicksand';
    position: relative;
    display: flex;
    height: 450px;
    justify-content: space-between;
    width: 90%;
    padding: 16px;
    align-items: self-end;
    gap: 24px;
}

.professor-admin-form > .column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 45%;
    min-width: 300px;
    justify-content: flex-start;
    height: 100%;
    gap: 18px;
    font-size: 16px;
    color: rgb(22 22 22);
}

.professor-admin-form > .column > label {
    position: relative;
    margin-top: 20px;
}

.professor-admin-form > .column > label > span {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 14px;
    font-weight: bolder;   
}
.professor-admin-form > .column > label > input,
.professor-admin-form > .column > label > textarea {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(159, 166, 255, 0.329);
    outline: none;
    padding: 8px;
    font-size: 16px;
    font-family: "Quicksand";
}
.professor-admin-form > .column > label > textarea {
    height: 250px;
    resize: none;
}


.professor-admin-form > .column > select {
    height: 30px;
    border: none;
    color: #74797a;
    font-size: 18px;
    width: 90%;
    min-width: 230px;
    padding: 4px 8px;
    border-radius: 5px;
}

.professor-admin-form > .column > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.professor-admin-form > .column > section {
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: absolute;
    bottom: 12px;
    right: 0;
}
