.form-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 50%;
  min-width: 250px;
  max-height: 500px;
  gap: 16px;
  border-radius: 5px;
  align-items: center;
  height: 400px
}


.form-register > label {
  width: 50%;
  max-width: 250px;
  min-width: 200px;
  background: rgb(241, 241, 241);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  height: 30px;
  align-items: center;
  color: #0c0c0c;;
  font-size: 20px;
  padding-left: 4px;
  gap: 4px;
}

.form-register > label > input {
  height: 100%;
    width: calc(100% - 22px);
    background: transparent;
    border: none;
    color: currentColor;
    font-size: 16px;
    outline: none;
}

.form-register > button {
  width: 50%;
  height: 28px;
  font-size: 19px;
  font-family: 'Quattrocento';
  font-weight: 700;
  max-width: 240px;
  min-width: 200px;
}