.admin-root-layout{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 100%;
}
.admin-root-layout > .outlet {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}